@page "/aligner"
@rendermode InteractiveServer

@inject IJSRuntime JS

<PageTitle>Aligner</PageTitle>

<h1>Align @publicationId</h1>

<canvas id="canvas"></canvas>


@code {
    private string publicationId = "P384786";

    private IJSObjectReference? editor;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            /*
                Change the {PATH} placeholder in the next line to the path of
                the collocated JS file in the app. Examples:

                ./Components/Pages/JsCollocation2.razor.js (.NET 8 or later)
                ./Pages/JsCollocation2.razor.js (.NET 7 or earlier)
            */
            editor = await JS.InvokeAsync<IJSObjectReference>("createAlignmentEditor",
                "canvas", publicationId);
        }
    }

    private void IncrementCount()
    {
    }
}
